<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
    <h4>Текст сообщения</h4>
  </a>
</div>
<div id="collapseFour" class="accordion-body collapse in">
  <div class="accordion-inner">
    <div class="mesage-box">
        <%= f.text_area :body, :class => 'text_area message-input-field', :placeholder => "Введите текст сообщения" %>
    </div>
  </div>
</div>