<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
    <h4>Список получателей</h4>
  </a>
</div>
<div id="collapseThree" class="accordion-body collapse in">
  <div class="accordion-inner">
    <div class="recipients-box">
        <%= f.text_area :custom_recipients,  :class => 'text_area message-input-field', :placeholder => "+79153211232, +71234567812, +81228981232", :hint => "hint", :value => "" %>
    </div>
  </div>
</div>