<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
    <h4>Список контактов</h4>
  </a>
</div>
<div id="collapseOne" class="accordion-body collapse in">
  <div class="accordion-inner">
    <div class="contact_list">
      <div class='scroll_checklist'>
        <table class="in-select-table">
          <tr>
            <th>Имя</th>
            <th>Номер</th>
            <th>Выбрать</th>
          </tr>
          <% for user in current_service.users %>
          <tr>
              <td class="under-td"><%= user.name %></td>
              <td class="under-td"><%= user.phone %></td>
              <td align="right"><%= check_box_tag "message[user_ids][]", user.id, @message.users.include?(user) %></td> 
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>