<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
     <h4>Группы контактов</h4>
  </a>
</div>
<div id="collapseTwo" class="accordion-body collapse in">
  <div class="accordion-inner">
    <div class="contact_group_list">
        <div class='scroll_checklist'>
          <table>
          <tr>
            <th>Название</th>
            <th>Выбрать</th>
          </tr>
          <% for group in current_service.groups %>
            <tr>
                <td class="label label-success"><%= group.name %></td>
                <td><%= check_box_tag "group_ids[]", group.id, !current_service.groups.include?(group) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>