<p>
	Short Message Service (SMS) is a text messaging service component of phone,
web, or mobile communication systems, using standardized communications protocols
that allow the exchange of short text messages between fixed line or mobile phone devices.
</p>
<p>
SMS is the most widely used data application in the world, 
with 3.6 billion active users, or 78% of all mobile phone subscribers.
The term "SMS" is used as an acronym for all types of short text messaging and the 
user activity itself in many parts of the world. 
SMS is also employed in direct marketing, known as SMS marketing.
</p>
<p>
SMS as used on modern handsets originated from radio telegraphy 
in radio memo pagers using standardized phone protocols. 
These were defined in 1985 as part of the Global System for Mobile 
Communications (GSM) series of standards as a means of sending messages 
of up to 160 characters[5][6] to and from GSM mobile handsets. 
Though most SMS messages are mobile-to-mobile text messages, 
support for the service has expanded to include such other mobile technologies 
as ANSI CDMA networks and Digital AMPS, as well as satellite and landline networks.