<div id="monthly_chart" style="width: 870px; height: 610px;">
  <script type="text/javascript" charset="utf-8">
  $(function () {
          new Highcharts.Chart({
              chart: {
                  renderTo: 'monthly_chart',
                  type: 'line',
                  marginRight: 130,
                  marginBottom: 25
              },
              title: {
                  text: 'Помесячная статиска отправки сообщений',
                  x: -20 //center
              },
              subtitle: {
                  text: '',
                  x: -20
              },
              xAxis: {
                  categories: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
                      'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']
              },
              yAxis: {
                  title: {
                      text: 'Количество сообщений'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '°C'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'top',
                  x: -10,
                  y: 100,
                  borderWidth: 0
              },
              series: <%= raw @monthly_chart_data %>
          });
      });
  </script>
</div>