
  <h4>Последние сообщения:</h4>
  <ul>
    <% if service_signed_in? %>
      <% current_service.messages.sort_by{|x| x.created_at}.reverse.take(5).each do |m| %>
        <li><%= link_to m.body, message_path(m) %></li>
      <% end %>
    <% end %>
  </ul>
