<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div id="user_nav">
  <% if service_signed_in? %>
    Signed in as <%= current_service.email %>
    <%= link_to "Sign out", destroy_service_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_service_registration_path %> or <%= link_to "sign in", new_service_session_path %>
  <% end %>
</div>


