/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#background
div {
	background: #f60;
  background-color: #f5f5f5;
}

#application

.span3{
	padding-top: 100px;
}
.nav-sign{
	position:absolute;
	right:0px
}
.pull-right {
  float: right;
}

.field_with_errors .message {  
  color: #D00;  
  padding-left: 5px;  
  font-size: 14px;  
}

.signin-form{
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.signin-form .control-label{
	padding-left: 10px;  
}
.signin-form .field{
	padding-left: 10px;  
}