// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-image: url(background.jpg);
  width: 100%;
  height: 100%;
  //background-size: 100%;
  //background-repeat: no-repeat;
}

.right-bar-cab{
  height: 100px;
  //background-color: #ffc40d;
  width:220px;
  padding:10px;
  border:2px solid black;
  margin:0 0 10px 0;
}

.right-bar-info{
  //background-color: #ffc40d;
  width:220px;
  padding:10px;
  border:2px solid black;
  margin:0px;
}

.my_button{
  width:200px;
  height: 100px;
}

#images-container{
  position: relative;
}

#personal-image-text{
    z-index:100;
    position:absolute;    
    color:black;
    font-size:20px;
    font-weight:bold;
    left:20px;
    top:270px;
}

.statistics-image{
  margin-left: 5px;
}

.configurations-image{
  margin-left: 20px;
}

#statistics-image-text{
    z-index:100;
    position:absolute;    
    color:black;
    font-size:20px;
    font-weight:bold;
    left:320px;
    top:270px;
}

#configurations-image-text{
    z-index:100;
    position:absolute;    
    color:black;
    font-size:20px;
    font-weight:bold;
    left:600px;
    top:270px;
}

.config-group label{
  font-size: 18px;
} 

.config-group input{
  margin-left: 50px;
  width: 300px;
} 

.config-group a{
  color: green;
} 

.highlight{
  height: 20px;
  width: 700px;
  color: green;
  background: #edfbcf;
  padding: 10px;
  border: 1px solid #d3d5c3;
  border-radius: 4px;
}

.highlight-black{
  height: 30px;
  width: 700px;
  color: green;
  //background: #edfbcf;
  background: black;
  padding: 15px;
  border: 1px solid #d3d5c3;
  border-radius: 4px;
}

.help-first{
  width: 720px;
  border: 1px solid black;
}

.help-first, th, td{
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

.help-api-args{
  text-align: left;
}
